# Build & IDE garbage
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.user
*.log
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
build/
*.dir/
.vs/
.idea/

# Ignore everything inside Framework
Framework/**

# Allow top-level scripts & marker
!Framework/cleanFramework.bat
!Framework/createSolutions.bat
!Framework/.gitkeep

# Allow project dirs
!Framework/Sources/
!Framework/Resources/
!Framework/General/
!Framework/Offshore/

# Allow content inside those dirs
!Framework/Sources/**
!Framework/Resources/**
!Framework/General/**
!Framework/Offshore/**

# Ignore heavy folder
Framework/Resources/Heavy/**
