# Ignore all build garbage in Framework
Framework/*

# Keep important files
!Framework/CMakeLists.txt
!Framework/createSolutions.bat
!Framework/removeSolutions.bat
!Framework/Sources/
!Framework/Resources/

# Ignore everything in Resources/Heavy
Framework/Resources/Heavy/*
