# Ignore heavy resources
Framework/Resources/Heavy/

# 1) Ignore every other thing under Framework
Framework/*

# 2) Except
!Framework/CMakeLists.txt
!Framework/createSolutions.bat
!Framework/removeSolutions.bat
!Framework/Sources/
!Framework/Resources/